/*
* Desafio DIO - Criando um layout responsivo para o site do Discord com CSS
* Formação CSS, módulo 2 - DIO
* Marcos Pelaez, Web Designer
* Inínio 09/05/2023
*/

/* Import fonts */
@font-face {
    font-family: Luckiest_Guy;
    src: url(../fonts/LuckiestGuy.ttf);
}
@font-face {
    font-family: Open_Sans;
    src: url(../fonts/OpenSans.ttf);
}

/* reset css */
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
}

/* Geral Container */
.geral-container {
    max-width: 1280px;
    margin: auto;
}

/* Header - Desktop and mobile */

header {
    background-image: url(../img/HeaderBackground.png);
    background-repeat: no-repeat;
    padding-bottom: 5%;
    color: #ffffff;
}
 .container-header {
    margin: auto;
    padding-top: 5%;
    text-align: center;
    padding-bottom: 1em;
 }
 .title-header {
    font-family: Luckiest_Guy;
    font-size: 56px;
    font-weight: 800;
    letter-spacing: 3px;
    padding: 2%;
    margin: 0 25rem;
 }
 .container-header p {
    font-family: Open_Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 0 15rem 1.2rem 15rem;
 }
 .bt-header {
    padding: 0.6em 2em;
    border-radius: 50px;
    font-family: Open_Sans;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    color: #23272A;
    cursor: pointer;
 }
 .bt-openBrowser {
    margin-left: 15px;
    background-color: #23272A;
    color: #ffffff;
 }

 /* Breackpoint mobile header */

 @media screen and (max-width: 430px) {
    header, .geral-container, .container-header, .title-header, .container-header p {
        margin: 0;
        padding: 0;
     }
    
     header {
        background-image: url(../img/HeaderBackground_mobile.png);
        padding-bottom: 16%;
        background-repeat: no-repeat;
        background-size: 100%;
     }
    .container-header {
        text-align: left;
    }
    .title-header {
        font-size: 32px;
        font-weight: 400;
        letter-spacing: normal;
        width: 70%;
        padding: 2em 1em 0 1em;
    }
    .container-header p {
        padding: 1.5em;
    }
    .bt-header {
        width: 90%;
        margin: 0 0 1rem 1.5rem;
    }
 }
 

/* Header end - Desktop and mobile */

/* Main - Desktop and mobile */

